.job-description-wrapper {
  .job-description-content {
    .search-section {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      gap: 12px;

      &__input {
        max-width: 300px;
      }
    }

    .job-description-list {
      .loading-container {
        text-align: center;
        padding: 50px;

        &__text {
          display: block;
          margin-top: 16px;
        }
      }

      .empty-container {
        text-align: center;
        padding: 50px;
      }
    }
  }
}