//COLORS

$primary-color: #1677ff;
$dark-primary-color: #000048;
$light-grey-bg: #f0f2f5;
$light-blue: #e6f7ff;
$blue: #1890ff;
$white: #ffffff;
//FONTS

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;
