//COLORS

$primary-color: #1677ff;
$dark-primary-color: #000048;
$light-grey-bg: #f0f2f5;
$light-blue: #e6f7ff;
$blue: #1890ff;
$light-blue: #f4f7ff;
$white: #ffffff;
$light-grey: #f0f0f0;
$grey: #333333;
$light-grey: #fafafa;
$light-black: #00000099;
$light-black-2: #000000d9;
//FONTS

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;
