//COLORS

$primary-color: #1677ff;
$dark-primary-color: #000048;
$dark-2: #00000073;
$dark-3: #1f1f1f;
$light-grey-bg: #f0f2f5;
$light-grey-bg-2: #f5f5f5;
$light-grey-bg-3: #eee;
$light-grey-bg-4: #e0e6ff;
$light-blue: #e6f7ff;
$blue: #1890ff;
$blue-2: #1677c0;
$light-blue: #f4f7ff;
$light-blue2: #d4ecfa;
$white: #ffffff;
$light-grey: #f0f0f0;
$grey: #333333;
$grey-2: #666;
$grey-3: #888;
$grey-4: #ccc;
$light-grey: #fafafa;
$light-grey-2: #f5f5f7;
$light-grey-3: #eaeaea;
$light-grey-4: #f8f9fa;
$light-grey-5: #e9ecef;
$light-black: #00000099;
$light-black-2: #000000d9;
$red: #ff0000;
$light-red: #ff4d4f;
$green: #52c41a;
//FONTS

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;
