@use './styles/variables' as vars;

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: vars.$light-grey-bg-2;
}
.h1-style {
  color: vars.$primary-color;
}

.app {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.page-wrapper {
  display: flex;
  gap: 20px;
  min-height: 100vh;
}
